<h1>Welcome to Blackjack!</h1>
<h3>by Chris Keaney</h3>
<br>
<br>
<h3>Would you like to play?</h3>

<form action='/set_name' method='get'>
  <input type='submit' name='Play Now' value='Play Now' class='btn'/>
</form>